$backgroundColor: #fff;
$bodyColor: #000;
$bodyFont: Trebuchet MS, sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

.masthead img {
  width: 250px;
}
